*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

gradle/wrapper/gradle-wrapper.properties

.idea/.name

.idea/.name

.idea/encodings.xml

.idea/gradle.xml

.idea/misc.xml

.idea/vcs.xml

app/src/main/java/com/yumingqin/walkphilly/MainActivity.java

build.gradle

gradle/wrapper/gradle-wrapper.properties
