*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

gradle/wrapper/gradle-wrapper.properties

.idea/.name

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/vcs.xml

gradle/wrapper/gradle-wrapper.properties
